:root {
  --secondarycolor: #eee;
  --cartWidth: 400px;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

header,
main,
footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  padding: 4rem 2rem;
}

header {
  position: sticky;
}

.container {
  width: 100%;
  max-width: 1000px;
}

h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}
